LH/
QtProject/
QtProject.conf
chromium/
clipit/
compiz-1/
dconf/
evolution/
gnome-control-center/
gtk-*/
ibus/
omf/
nautilus/
inkscape/
Trolltech.conf
gnuplot/
pulse/
unity/
user-dirs.dirs
user-dirs.locale
fish/
libaccounts-glib/
nvim/dein/
nvim/installer.sh
nvim/.netrwhist